<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: a.kopylov
  Date: 13.04.2018
  Time: 11:27
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Title</title>
</h:head>

<h:body>
    <h:form>
        <h:inputText value="#{firstBean.name}"/>
        <h:commandButton value="Send" action="#{firstBean.someAction}"/>
    </h:form>
</h:body>

</html>